ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #725EAE;
    overflow: hidden;
}

/* Style for the navbar items */
ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

/* Change the color of the navbar items on hover */
ul.navbar li a:hover {
    background-color: #555;
}

.topnav-right {
    float: right;
    margin-top: 18px;
}

.logo {
    width: 250px;
    height: 100px;
    margin-right: 900px;
}   
body {
    font: 400 1em/1.5 "Neuton";
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}
.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    opacity: 0.920;
    margin-top: 170px;
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.background {
    width: 1425px;
    height: 620px;
}