ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

/* Style for the navbar items */
ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

/* Change the color of the navbar items on hover */
ul.navbar li a:hover {
    background-color: #555;
}

.topnav-right {
    float: right;
    margin-top: 18px;
}

.logo {
    width: 250px;
    height: 100px;
    margin-right: 960px;
}
p1 {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgb(255, 255, 255);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
}

p1 span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px white;
    font-size: x-large;
}
body {
    font: 400 1em/1.5 "Neuton";
    background-image: url("../images/backgroundimg.jpg");
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
}

.image {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
}

.image img {
    width: 430px;
    height: 350px;
    
}

.description {
    text-align: center;
    color: aliceblue;
}
